
.modalBtn{
  position: fixed;
  top: 40%;
  left: 50%;
  padding: 12px 24px;
  transform: translate(-50%,-50%);
  z-index: -1;
  cursor: pointer;
}

.overlay {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}

.modalContainer{
  display: flex;
  max-width: 600px;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: white;
  box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.75);
}

.closeBtn{
  cursor: pointer;
}